In [ ]:
print("Welcome to ExcelR!")

Welcome to ExcelR!

In [ ]:
"hello"

'hello'

In [ ]:
120/12*2-4

16.0

In [ ]:
(5-2)*10

30

In [ ]:
marks=80
marks

80

In [ ]:
type(marks)

int

In [ ]:
5**4

625

In [ ]:
price=50.5
price  #only shows output of last line
type(price)

float

In [ ]:
price=50.5
print(price)  # to see intermediate line's output use print() function
type(price)

50.5

float

In [ ]:
name="saurabh"
type(name)

str

In [ ]:
dir(str) #all methods that can be applied on strings.
#__dunder/magic method (double underscores method which python uses internally)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
str1="welcome to data science"
str1.capitalize()

'Welcome to data science'

In [ ]:
str1.upper()

'WELCOME TO DATA SCIENCE'

In [ ]:
str1.lower()

'welcome to data science'

In [ ]:
str1.title()

'Welcome To Data Science'

In [ ]:
food="biryani"
name="saurabh"
print(food.swapcase())
name.swapcase()

BIRYANI

'SAURABH'

In [ ]:
s1="My name is saurabh"
print(s1.split()) #list of string is created
s2="Mumbai-Pune-mumbai"
s2.split("-")

['My', 'name', 'is', 'saurabh']

['Mumbai', 'Pune', 'mumbai']

In [ ]:
mail="saurabhpathare9972@gmail.com"
mail.split("@")

['saurabhpathare9972', 'gmail.com']

In [ ]:
s1.replace("saurabh","sandesh")

'My name is sandesh'

In [ ]:
city="Satara"
city.count("a")

3

In [ ]:
"satara".count("a")

3

In [ ]:
name="Raj"
name*4

'RajRajRajRaj'

In [ ]:
n1=5
n1*5

25

In [ ]:
name="Rajesh"
surname="kulkarni"
name + surname #concatenates without space

'Rajeshkulkarni'

In [ ]:
name+" " +surname

'Rajesh kulkarni'

In [ ]:
#conditional statement
a=30
b=20
if(a>b):
  print("a is greater")
else:
    print('b is greater')

a is greater

In [ ]:
a=20
b=30
if(a>b):
  print("a is greater")
else:
  print("Greatest number is",b)

Greatest number is 30

In [ ]:
salary=35000
if(salary>20000):
  tax=0.25
  print("Hello from true if")
else:
  tax=0.20
  print("hellofrom false if/else")
print("Bye...outside if block")
net_sal=salary-tax*salary
print(net_sal)
#change value of salary 15000 and execute again

Hello from true if
Bye...outside if block
26250.0

In [ ]:
range(5,10)

range(5, 10)

In [ ]:
#For Loop
for number in range(5,10): #prints number from 5 to 9.default incremet is 1
 print(number)

5
6
7
8
9

In [ ]:
#print numbers from 1 to 10.

for i in range(1,11,1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Q1 print all even numbers from 1 to 20
#Q2 print all odd numbers from 1 to 20

In [ ]:
for i in range(1,20):  # these does not give seperate even and odd
  i%2==0
  print('even number:',i)
else:
    print('odd number:',i)

even number: 1
even number: 2
even number: 3
even number: 4
even number: 5
even number: 6
even number: 7
even number: 8
even number: 9
even number: 10
even number: 11
even number: 12
even number: 13
even number: 14
even number: 15
even number: 16
even number: 17
even number: 18
even number: 19
odd number: 19

In [ ]:
print('even numbers:')
for i in range(1,20):
  if i%2==0:
    print(i)
print('odd numbers:')
for i in range(1,20):
      if i%2!=0:
        print(i)

even numbers:
2
4
6
8
10
12
14
16
18
odd numbers:
1
3
5
7
9
11
13
15
17
19

In [ ]:
# break statement terminates the loop when condition is satisfied 
for i in range(1,11):
  if 1==5:
    #print("same")
    break
  else:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for num in range(11):
  print(num,num*num) #num and its squares

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [ ]:
#range (start,stop,step)
for i in range(1,30,5):
  #print(i)
  print(i,"@")

1 @
6 @
11 @
16 @
21 @
26 @

In [ ]:
subject="science"
for letter in subject:
  print(letter)

s
c
i
e
n
c
e

In [ ]:
# print name 3 times on first line ,4 times on 2nd ,5 -3rd, 6-4th line .Range(3,7)
name="snehal"
for values in range(3,7):
  print(name*values)

snehalsnehalsnehal
snehalsnehalsnehalsnehal
snehalsnehalsnehalsnehalsnehal
snehalsnehalsnehalsnehalsnehalsnehal

In [ ]:
#print each letter of movie on seperate line
#change case of each letter (upper to small ans small to upper) of movie of single line with seperator-
movie="Drishyam"
for letter in movie:
  #print(letter)
  #print(letter.swapcase())
 print(letter.swapcase(),end=" # ")

d # R # I # S # H # Y # A # M #

In [ ]:
status1=True
type(status1)

bool

In [ ]:
print(type(status1))

<class 'bool'>

In [ ]:
status2=False
type(status2)

bool

In [ ]:
#print each letter 4 times with seperate spacefor letter in "science":
for letter in "science":
  print(letter*5,end=" ")

sssss ccccc iiiii eeeee nnnnn ccccc eeeee

In [ ]:
#unpack list

In [ ]:
len("my name")

7

In [ ]:
len("snehal")

6

In [ ]:
#data structure 1.list-
#list is ordered collection of element enclosed within[]
#list are mutable

#created using square bracket
marks=[40,50,55,70,60,80,85,78]
marks

[40, 50, 55, 70, 60, 80, 85, 78]

In [ ]:
type(marks)

list

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
len(marks)

8

In [ ]:
new_marks=sorted(marks)  #creates new sorted list .original marks list remains unchanged
new_marks

[40, 50, 55, 60, 70, 78, 80, 85]

In [ ]:
marks

[40, 50, 55, 70, 60, 80, 85, 78]

In [ ]:
marks.sort() #original list is sorted in ascending order by default.
marks

[40, 50, 55, 60, 70, 78, 80, 85]

In [ ]:
marks.append(35)
marks

[40, 50, 55, 60, 70, 78, 80, 85, 35]

In [ ]:
marks.reverse()
marks

[35, 85, 80, 78, 70, 60, 55, 50, 40]

In [ ]:
marks2=[42,64,50,78,87,80]

In [ ]:
marks2.sort(reverse=True) #sort in descending order when reverse = true
marks2

[87, 80, 78, 64, 50, 42]

In [ ]:
marks3=[40,60,50,70,80,85]
marks3.sort(reverse=False)
marks3

[40, 50, 60, 70, 80, 85]

In [ ]:
90 in marks # checks whether 90 is present in list or not if yes returns true else false

False

In [ ]:
85 in marks

True

In [ ]:
list1=[10,20,30,40,50]
list2=[ 60,70,80,90,100] 
list1+list2 #concatenation of two lists

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
(list1+list2)*3  # repeates 3 times

[10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100]

In [ ]:
#List of strings
list3=["Mango","Apple","Banana","Pineapple","Custard Apple","Strawberry"]
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
#display fruits by changing case of all fruits to uooercase
for fruit in list3:
  #print(fruit.upper()) #in single line:print(fruit.upper(),end="")
  #print(fruit.upper(),end=" ")
  print(fruit.replace("a","u"),end=" ")

Mungo Apple Bununu Pineupple Custurd Apple Struwberry

In [ ]:
#in python indexing start with 0
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
list3[0]

'Mango'

In [ ]:
list3[1]

'Apple'

In [ ]:
list3[4]

'Custard Apple'

In [ ]:
list3[6]  # raise error as index is upto 5 only (0 to 5)

IndexError: ignored

In [ ]:
list3[5]

'Strawberry'

In [ ]:
list3.count("Banana")

1

In [ ]:
#slicing
list3[0:4]  #0,1,2,3

['Mango', 'Apple', 'Banana', 'Pineapple']

In [ ]:
#from apple to strawberry i.e till end
list3[1:]

['Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
#from begining to pine apple
list3[:4]

['Mango', 'Apple', 'Banana', 'Pineapple']

In [ ]:
#Negative index refers to last element
list3[-1]

'Strawberry'

In [ ]:
list3[-3]

'Pineapple'

In [ ]:
list3[-6]

'Mango'

In [ ]:
#start stop step in slicing
print(list3)
list3[::2] #0,2,4,6

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

['Mango', 'Banana', 'Custard Apple']

In [ ]:
n1=list(range(1,31))
print(n1,end=" ")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [ ]:
n1[::4]

[1, 5, 9, 13, 17, 21, 25, 29]

In [ ]:
#print nos from index 2 to 26 from step value of 5
n1[2:26:5]

[3, 8, 13, 18, 23]

In [ ]:
print(list3,end=" ")

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
list3[::-1]

['Strawberry', 'Custard Apple', 'Pineapple', 'Banana', 'Apple', 'Mango']

In [ ]:
list3[::-2]  #step value is -2

['Strawberry', 'Pineapple', 'Apple']

In [ ]:
#use of "in" keyword search substring in given word
'the' in 'Netherland'

True

In [ ]:
'The' in 'Netherland'

False

In [ ]:
'therer' in 'Netherland'

False

In [ ]:
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
list3.append('Mulberry')

In [ ]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry']

In [ ]:
#display the fruits contain substring as 'berry' using for loop
for fruit in list3:
  if 'berry' in fruit:
    print(fruit)

Strawberry
Mulberry

In [ ]:
#display fruits contains substring as 'pple' using for loop
for fruit in list3:
  if 'pple' in fruit:
    print(fruit)

Apple
Pineapple
Custard Apple

In [ ]:
list3.append("blackberry")

In [ ]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry',
 'blackberry']

In [ ]:
#create list  4 of fruit from list 3 having only 'berry' as substring and store remaining fruit in list 5
list4=[]
list5=[]
for fruit in list3:
  if 'berry' in fruit:
    list4.append(fruit)
  else:
    list5.append(fruit)
print(list4,end=" ")
print(list5,end=" ")

['Strawberry', 'Mulberry', 'blackberry'] ['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple']

In [ ]:
#print squares of all numbers of list1 to list2
l1=[2,3,4,5,6]
l2=[]
for i in l1:
  l2.append(i**2)
print(l1,end=" ")
print(l2,end=" ")

[2, 3, 4, 5, 6] [4, 9, 16, 25, 36]

In [ ]:
# List comprehension - makes your code compact
l1=[2,3,4,5,6]
l2=[i**2 for i in l1]
print(l1,end=" ")
print(l2,end=" ")

[2, 3, 4, 5, 6] [4, 9, 16, 25, 36]

In [ ]:
list3
list3.append("Black berry")

In [ ]:
# extract fruit  names containing  substring 'berry' using list comprehension 
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry',
 'blackberry',
 'Black berry',
 'Black berry',
 'Black berry']

In [ ]:
newlist=[fruit for fruit in list3 if 'berry' in fruit]

In [ ]:
print(newlist, end=" ")

['Strawberry', 'Mulberry', 'blackberry', 'Black berry', 'Black berry', 'Black berry']

In [ ]:
newlist1=[fruit for fruit in list3 if 'berry' not in fruit]

In [ ]:
newlist1

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple']

In [ ]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry',
 'blackberry',
 'Black berry',
 'Black berry',
 'Black berry']

In [ ]:
list3.index('Mango')

0

In [ ]:
list3.index('Black berry')

8

In [ ]:
list3.index('Orange') # will raise error as item is not present in the list

In [ ]:
# index 2 item was banana which is replaced by Orange
# Lists are mutable -you can replace items of list
list3[2]="Orange"
list3

['Mango',
 'Apple',
 'Orange',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry',
 'blackberry',
 'Black berry',
 'Black berry',
 'Black berry']

In [ ]:
#Data Structure: 2.Tuple

#Tuples are not mutable i.e. immutable
#created using round brackets()
t1=(1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

In [ ]:
type(t1)

tuple

In [ ]:
t1[0]

1

In [ ]:
t1[0]=7

In [ ]:
dir(t1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
t1.count(1)

1

In [ ]:
t1.count(3)

1

In [ ]:
t1.index(4)

3

In [ ]:
t2=(1,1,1,2,2,6,6,6,6,6)

In [ ]:
t2.count(6)

5

In [ ]:
len(t2)

10

In [ ]:
type(t2)

tuple

In [ ]:
print(type(t2))

<class 'tuple'>

In [ ]:
# tuple object has no attribute reverse

In [ ]:
#indexing and slicing with tuple is same as list
#extracting element of tuple
t1[2]

3

In [ ]:
t1

(1, 2, 3, 4, 5)

In [ ]:
t1[1:5]

(2, 3, 4, 5)

In [ ]:
#you can not modify tuple because it is immutable.
#it is ordered  collection of element enclosed with round bracket

In [ ]:
t1

(1, 2, 3, 4, 5)

In [ ]:
# concatenating tuple
t2=(1,2,3,4)
t3=(5,6,7,8)
t2+t3

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
t2=(1,2,3,4)
t3=(5,6,)
t2+t3

(1, 2, 3, 4, 5, 6)

In [ ]:
#repeating tuple element
t1=("Spartaa",300,True)
t1*3

('Spartaa', 300, True, 'Spartaa', 300, True, 'Spartaa', 300, True)

In [ ]:
#repeating and concatenating
t1=("Spartaa",300,True)
t2=(4,5,6)
t1*3+t2

('Spartaa', 300, True, 'Spartaa', 300, True, 'Spartaa', 300, True, 4, 5, 6)

In [ ]:
#tuple function minimum value and maximum value

In [ ]:
#maximum value
t1=(1,2,3,4,5,6,7,8,9)
max(t1)

9

In [ ]:
t1=(1,2,3,4,5,6,7,8,9) #minimum value
min(t1)

1

In [ ]:
#data structure :3. Dictionary
#dictionaries are used to store data value in key:value pairs. enclosed with {} curly bracket

#A dictionary is a collection ehich is ordered ,changeable and do not allow duplicates
#here key are unique identifiers that are associated with each value.:
#for eg: Fruit{"Apple":10,"Orange":20}
# here, apple and orange is key
#and 10 and 2- is value for it

In [ ]:
capital_dict={"Nepal":"Kathmandu","Italy":"Rome","England":"London"}
print(capital_dict)

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}

In [ ]:
type(capital_dict)

dict

In [ ]:
dir(capital_dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
#access element of dictionary
capital_dict["England"]

'London'

In [ ]:
#key() method extracts the keys  of the dictionary and returns the list of the key as a view object.

keys=capital_dict.keys()
keys

dict_keys(['Nepal', 'Italy', 'England'])

In [ ]:
capital_dict.keys()

dict_keys(['Nepal', 'Italy', 'England'])

In [ ]:
#the values() method returns a view object  that display a list of all the values in dictionary.
values=capital_dict.values()
values

dict_values(['Kathmandu', 'Rome', 'London'])

In [ ]:
#The items() method returns a view object that displays a list of dictionary's (key value )tuple pairs.
items=capital_dict.items()
items

dict_items([('Nepal', 'Kathmandu'), ('Italy', 'Rome'), ('England', 'London')])

In [ ]:
#The update() method updates the dictionary with the elements from another dictionary object or from iterable of key/value pairs.

add_capital={"India":"New Delhi","abc":"XYZ"}
capital_dict.update(add_capital)

In [ ]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'XYZ'}

In [ ]:
capital_dict.update({"Australia":"Canberra"})  
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'XYZ',
 'Australia': 'Canberra'}

In [ ]:
#pop() method removes and return an element from a dictionary having the given key.

capital_dict.pop("Australia")

'Canberra'

In [ ]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'XYZ'}

In [ ]:
#changing an existing element---
capital_dict['abc']=("Mumbai")

In [ ]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'Mumbai'}

In [ ]:
capital_dict.popitem()

('abc', 'Mumbai')

In [ ]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi'}

In [ ]:
#adding new element
capital_dict["grapes"]=50

In [ ]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'grapes': 50}

In [ ]:
#key can be of different data type
mylist=["Mango","Orange","Strawberry","Banana","Mulberry","Black berry"]

In [ ]:
mytuple=(20,53,45,75,89,65,97)

In [ ]:
mydict={"A":mylist,
        "B":mytuple,
        "C":capital_dict
       }
mydict

{'A': ['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Black berry'],
 'B': (20, 53, 45, 75, 89, 65, 97),
 'C': {'Nepal': 'Kathmandu',
  'Italy': 'Rome',
  'England': 'London',
  'India': 'New Delhi',
  'grapes': 50}}

In [ ]:
mydict["A"]

['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Black berry']

In [ ]:
mydict["B"]

(20, 53, 45, 75, 89, 65, 97)

In [ ]:
mydict["C"]

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'grapes': 50}

In [ ]:
mydict["A"][3]  #index number 0,1,2,3 3rd element =banana.

'Banana'

In [ ]:
mydict["B"][5]

65

In [ ]:
mydict["C"]['India']

'New Delhi'

In [ ]:
#math functions: can import specific functions or all using*
sqrt(25) #raise error as you have not imported

In [ ]:
from math import sqrt
sqrt(25)

5.0

In [ ]:
fractional(5) #error

In [ ]:
from math import factorial
factorial(5)

120

In [ ]:
sin(90)  #raise error

In [ ]:
from math import sin,cos,tan
tan(45)

1.6197751905438615

In [ ]:
from math import *
l2=[5,2]
prod(l2)

10

In [ ]:
#OR you can say 'import math'
#BUT while calling any function you have to use math. Function_Name()
#The math.prod() method return product of the elements from the given iterable.
import math #or 'import math as mt',mt.sqrt(64)
sequence=(2,2,5,6)  #iterable where elements are given
print(math.prod(sequence))

120

In [ ]:
import math
l1=[2,3,4]
math.prod(l1)

24

In [ ]:
dir(math)  #all functions of math library

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [ ]:
#set in python--
#set is unordered  and unindexed collection of element   enclosed with { }.
#duplicates are not allowed in set.

In [ ]:
#adding new element
s1={1,"a",True,2,"b",False}
s1.add("Hello")
s1

{1, 2, False, 'Hello', 'a', 'b'}

In [ ]:
#updating multiple elements
s1.update([10,20,30])
s1

{1, 10, 2, 20, 30, False, 'Hello', 'a', 'b'}

In [ ]:
#Removing an element
s1

{1, 10, 2, 20, 30, False, 'Hello', 'a', 'b'}

In [ ]:
s1.remove("Hello")

In [ ]:
s1

{1, 10, 2, 20, 30, False, 'a', 'b'}

In [ ]:
# union of two set
s2={"a","b","c"}
s1.union(s2)

{1, 10, 2, 20, 30, False, 'a', 'b', 'c'}

In [ ]:
#intersection of two set
s1.intersection(s2)

{'a', 'b'}